.footer {
    padding: 10px 0 0;
}
.footer-menu {
    border-top: 1px solid #F0F2F5;
    border-bottom: 1px solid #F0F2F5;
    overflow: hidden;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
    }
    a {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 157%;
        color: #282828;
        text-decoration: none;
        padding: 30px 30px 31px;
        &:hover {
            color: #4E7FCE;
            transition: all 0.2s ease;
        }
        &:first-child {
            padding: 30px 30px 31px 0;
        }
    }
}
.footer-top {
    padding: 50px 0 24px;
    overflow: hidden;
    .logo {
        display: block;
        float: left;
        margin: 0 60px 0 0;
    }
}
.download-links {
    float: left;
    a {
        display: inline-block;
        margin: 5px 16px 0 0;
    }
    img {
        display: block;
        width: 100%;
    }
}
.contacts {
    float: left;
    margin: 0 0 0 30px;
    a {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        color: #282828;
        text-decoration: none;
        margin: 0 14px;
        vertical-align: middle;
        transition: all 0.2s ease;
        &:hover {
            color: #4E7FCE;
            transition: all 0.2s ease;
            span {
                border: 1px solid #4E7FCE;
                transition: all 0.2s ease;
            }
        }
    }
    span {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #F0F2F5;
        box-sizing: border-box;
        text-align: center;
        padding: 12px 0;
        margin: 0 11px 0 0;
    }
}
.social-links {
    float: left;
    display: flex;
    align-items: center;
    a {
        display: inline-block;
        width: 48px;
        height: 48px;
        border: 1px solid #F0F2F5;
        box-sizing: border-box;
        border-radius: 50%;
        text-align: center;
        margin: 0 0 0 30px;
        padding: 12px 0;
        &:hover {
            border: 1px solid #4E7FCE;
            transition: all 0.2s ease;
            svg {
                path {
                    fill: #4E7FCE;
                }
            }
        }
    }
}
.copyright {
    padding: 30px 0 20px;
    overflow: hidden;
}
.copyright-left {
    float: left;
    width: 50%;
    p {
        font-size: 12px;
        line-height: 150%;
        color: #9BA0B9;
        margin: 0;
    }
}
.copyright-right {
    float: left;
    width: 50%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        width: 50%;
        float: left;
        font-size: 12px;
        line-height: 150%;
        color: #9BA0B9;
        margin: 0 0 10px;
        padding: 0 15px;
        box-sizing: border-box;
    }
    a {
        display: inline-block;
        font-size: 12px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #9BA0B9;
        &:hover {
            text-decoration: none;
        }
    }
}